.home {
  .ant-row,
  .ant-row-flex {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  h1,
  h2,
  p {
    text-align: center;
  }

  .button-google {
    background-color: #6a42cc;
    color: white;
    font-weight: bold;
  }

  .button-fb {
    background-color: #6a42cc;
    color: white;
    font-weight: bold;
  }

  .guest-btn {
    background-color: #969696;
  }
}
