.chat {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #722ed1;
    width: 100%;

    @media (max-width: 560px) {
      padding: 1rem;
    }

    h2,
    p,
    a,
    div {
      width: 33%;
      display: inline-block;
      color: white;
      font-size: 2rem;
    }

    a {
      @media (max-width: 560px) {
        width: 100%;
      }

      h2 {
        @media (max-width: 560px) {
          width: 100%;
        }
      }
    }

    div {
      @media (max-width: 560px) {
        width: 100%;
      }
    }

    p {
      text-align: center;
      @media (max-width: 560px) {
        display: none;
      }
    }

    .login {
      display: flex;
      justify-content: flex-end;
    }
  }

  .content {
    margin-top: 50px;

    .tab-general {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      min-height: 60vh;
    }

    .ant-comment-inner {
      padding: 0;
    }

    .online-users {
      display: flex;
      width: 100%;
      padding: 1rem;

      p {
        padding-left: 1rem;
        align-self: center;
      }
    }

    .alert {
      margin-bottom: 10px;
    }
  }
}
